<?xml version="1.0"?>
<!--
# SPDX-FileCopyrightText: NVIDIA CORPORATION & AFFILIATES
# Copyright (c) 2022 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0
-->
<robot name="4_realsense_carter">

  <link name="camera0_link"/>
<!-- Assume cameras are installed right-side up -->
  <joint name="camera_to_base" type="fixed">
    <parent link="camera0_link"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.517" rpy="0 0 0"/>
  </joint>

  <link name="base_link"/>

  <joint name="base_to_sensor_head" type="fixed">
    <parent link="base_link"/>
    <child link="sensor_head_link"/>
    <origin xyz="0.0789 -0.0475 0" rpy="0 0 0"/>
  </joint>
  
  <link name="sensor_head_link"/>
</robot>
